h1 {
    font-family: 'Bellota', cursive;
    color: rgb(23,102,153);
    font-size: 50px;
    text-align: center;
    border: 5px dashed rgb(21, 66, 87);

}

#intro {
    font-family: 'Acme', sans-serif;
    color: rgb(18, 99, 61);
    padding: 15px;
    font-size: 18px;
}

body {
    background-image: url('../images/background_website.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5000px;
}

p {
    font-size: 20px;
    color: rgb(115, 27, 156);
    font-family: 'Acme', sans-serif;
}

ul {
    font-family: 'Acme', sans-serif;
}

ol {
    font-family: 'Acme', sans-serif;
}

a:link {
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    color: rgb(99,164,89);
}

a:hover {
    font-family: 'Acme', sans-serif;
    color: rgb(170,104,152);
}

.link{
    list-style-image: url(http://upload.wikimedia.org/wikipedia/commons/1/19/Icons-mini-icon_attachment.gif);
}

.assignment{
    list-style-image: url('../images/assignments_symbol.png');
}